
.schedule-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0px;
  margin-top: -50px;
}

.schedule-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid rgba(95, 255, 196, 0.3);
  margin-bottom: 10px;
}

.schedule-day-time {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dot {
  width: 6px;
  height: 6px;
  background: var(--color-accent);
  display: inline-block;
}

.level-tag {
  color: var(--color-accent);
  font-weight: 500;
}
.schedule-icon {
  width: 40px;
  height: 40px;
}

.schedule-location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .schedule-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    padding: 16px;
  }

  .schedule-day-time {
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }

  .level-tag {
    width: 100%;
    text-align: left;
  }
  
  .schedule-separator {
    display: none;
  }
}