:root {
  --color-bg: #0A1628;
  --color-text: #FFFFFF;
  --color-text-p: #d1d5dc;
  --color-accent: #5FFFC4;

  --font-family: 'Space Grotesk', sans-serif;
}

body {
  text-align: center;
  margin: 0;
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

#root {
  min-height: 100vh;
}

.h1 {
  font-family: var(--font-family);
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -2%;
  font-weight: 700;
}

.h2 {
  font-family: var(--font-family);
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -2%;
  font-weight: 700;
}

.h3 {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -1%;
  font-weight: 700;
}

.h4 {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.5%;
  font-weight: 700;
}

.p {
  color: var(--color-text-p);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;
}

.p-accent {
  color: var(--color-accent);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 500;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 48px;
  }

  .h2 {
    font-size: 32px;
  }

  .h3 {
    font-size: 20px;
  }

  .h4 {
    font-size: 18px;
  }
  .p {
    font-size: 14px;
  }
  .p-accent {
    font-size: 14px;
  }
}
